.filter-category-kit, .filter-radio-kit, .filter-budget-kit {
    padding: 10px 15px;
    border: 1px solid var(--bs-dark);
    background-color: #fff;
    border-radius: 4px;
}

.filter-kit {
    position: relative;
}

.options-category-kit, .options-radio-kit, .options-budget-kit {
    position: absolute;
    top: 44.5px;
    margin-top: 10px;
    padding: 15px;
    display: none;
    flex-direction: column;
    min-width: 240px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.option-kit, .option-main-kit {
    display: flex;
    justify-content: space-between;
}

.option-main-kit a, .option-main-kit p, .option-kit p, .option-kit a {
    color: var(--bs-dark);
    font-weight: 500;
}

.option-main-kit a {
    color: var(--color-two);
}

.radio-button {
    vertical-align: middle;
    margin-bottom: 3.5px;
}

.left-budget-kit {
    display: flex;
    flex-direction: column;
}

.budget-input-kit {
    width: 105px;
    padding: 6px 7px;
    border: 1px solid #7a7d85;
}

@keyframes byeIcon {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes hiIcon {
    from { opacity: 0 }
    to { opacity: 1 }
}