:root {
    --color-one: #d387b8;
    --color-two: #F299c1;
    --color-three: #98a9d7;
    --color-four: #7470b2;
    --color-five: #fff;
}

html {
    font-size: 14px;
}

a {
    text-decoration: none;
}

.border-button-link {
    padding: 7px 20px;
    border: 1px solid var(--color-one);
    border-radius: .3rem;
}

.border-button-link:hover {
    background-color: var(--color-two);
    border: 1px solid var(--color-two);
    color: var(--color-five) !important;
}

.nav-container {
    width: 100%;
}

.nav-link {
    padding: 7px 10px;
}

.main-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 15px 32px;
    color: white;
    width: 100%;
    max-width: 1366px;
    margin: auto;
}

.links-menu a {
    color: var(--color-one);
    display: flex;
    font-weight: 500;
    align-items: center;
}

.links-menu a:hover {
    color: var(--color-two);
}

.search-bar {
    width: unset;
    max-width: 100%;
}

.search-btn {
    background-color: var(--color-one);
    color: var(--color-five);
    border-color: var(--color-one);
}

.search-btn:hover {
    background-color: var(--color-one);
    color: var(--color-five);
    border-color: var(--color-one);
}

.logo {
    width: 150px;
}

.search-input, .search-input:focus, .search-input:hover, .search-input:active{
    border: 1px solid var(--color-one) !important;
}

.hero {
    background: url('../img/hero.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0px 32px;
}

.circle-link {
    border: 1px solid var(--color-one);
    border-radius: 10px;
    padding: 1px 10px;
    color: var(--color-one);
}

.circle-link:hover {
    border: 1px solid var(--color-one);
    background-color: var(--color-one);
    color: var(--color-five);
}

.partners {
    margin-bottom: 96px;
    height: 95px;
    color: #62646a;
    font-size: 16px;
    background-color: #f5f5fb;
}

.partners-icons img{
    padding-left: 60px;
}